.card:hover {
	border-color: #077cff;
	box-shadow: 0 20px 20px rgba(0, 0, 0, .07)
}

.card:hover,
.card:hover h4 {
	transition-timing-function: ease;
	transition: .5s
}

.card:hover h4 {
	color: #077cff
}
